*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


.head{

background-color: black;
color: antiquewhite;
padding: 20px;
height: 200px;
width: 200px;
}
.parent {

    
    background-color: brown;
    color: antiquewhite;
    display: flex;
    padding: 200px;
    gap: 50px;
    justify-content: end;
}
.overflow{

    background-color: black;
    color: antiquewhite;
    height: 800px;
    width: 400px;
    margin: 0;
    overflow: scroll;
}