*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/* Universal selector */

body{
   font-family: Arial, Helvetica, sans-serif;
   background: rgb(194, 238, 255);
   min-height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.parent{
    width: 90%;
    max-width: 1100px;
    background-color: rgb(62, 62, 124);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* --------------- SPAN -------------- */
.overflow{
    flex: 2;
    min-width: 300px;
    color: white;
}
.overflow h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: cadetblue;
    text-shadow: 30px;
}
.overflow p{
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 10px;
}
.overflow button{
    padding: 5px;
    background-color: rgb(1, 1, 49);
    color: antiquewhite;
    border-radius: 20px;
    width: 350px;
    cursor: pointer;
    font-size: 10px;
    transition: all;
}

.head{
    flex: 1;
    min-width: 220px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 7, 96);
}
.head:hover{
transform: translate(-10px) scale(1.05);

}