#header {

    background-color: rgb(233, 199, 112);
    color: black;
}
.element{
    background-color: rgb(2, 52, 35);
    color: brown;
}
.element-title {
color: black;

}
.element-text {
color: chocolate;
}
body{

    background-color: rgb(64, 63, 63);
}
.syntax{
    background-color: chartreuse;color: black;
}
.syntax-text {
color: brown;

}