*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.container{
    padding: 20px;
    background: blue;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 60px; 

} 
.container2{
    padding: 20px;
    background: red;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 0px; 
    z-index: 1;
}
.container3{
    padding: 20px;
    background: green;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 20px;
}
.box7{
    position: relative;
    background: yellow;
    left: 10px;
    bottom: 10px;
}
